*{
    margin: 0;
    padding: 0;
}

.conteiner{
 position: relative;
 height: 650px;
 width: 450px;
 border: 2px;
 border-color: #b8a7d8;
 border-style: solid;
 background-color: #b8a7d8;
 box-shadow:5px 5px 5px #9872e5;
 margin: auto;
 margin-top: 50px;
 
}
.conteiner img{
       
    height: 650px;
    width: 450px;
    opacity: 55%;
    display: block;
 }

.conteiner p{
    display: inline-block;
}

.text{
    position: absolute;
    margin-top: 50px;
    opacity: 100%;
    z-index: 99;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
}

.butt{
    display:inline-block;
    text-decoration: none;
    text-align: center;
    margin: auto;
    background-color: #9872e5;
    margin-left: 150px;
    margin-top: 370px;
}


.butt p{
    margin: auto;
    display:block;
    text-decoration: none;
    text-align: center;
    margin: auto;
    padding: 10px 20px 10px 20px;
    background-color: #9872e5;
    color: black;
    font-family: 'Inconsolata', monospace;

}

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Sanchez', serif;
font-family: 'Sofia Sans Extra Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */